{
	"extends": ["plugin:prettier/recommended"],
	"trailingComma": "all",
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"bracketSpacing": false,
	"printWidth": 80,
	"proseWrap": "always",
	"arrowParens": "always"
}
